<div class="button-row">
	<button mat-icon-button color="accent" (click)="clearCache()">
		<mat-icon>home</mat-icon>
	</button>
	<mat-form-field appearence="fill">
		<mat-label>Select an option</mat-label>
		<mat-select
			disableRipple
			[(value)]="category"
			(selectionChange)="reload()"
		>
			<mat-option *ngFor="let cat of categories" [value]="ALL_CATS[cat]"
				>{{ cat }}</mat-option
			>
		</mat-select>
	</mat-form-field>
</div>
<div class="viewport">
	<div *uiScroll="let item of mediaDatasource">
		<div class="row">
			<app-psa-medium
				*ngFor="let medium of item"
				[content]="medium"
				(click)="openMediumModal(medium.fullLink)"
			></app-psa-medium>
		</div>
	</div>
</div>
