.viewport {
    width: calc(100vw - 100px);
    height: calc(100vh - 50px);
    overflow-y: auto;
    margin-left: 100px;
}

.sidebar {
    width: 100px;
    float: left;
    height: calc(100vh - 50px);
}